*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(10, 152, 119);

}
.main-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  height: 45px;
  width: 165px;
  background-color: aliceblue;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 40px;
}
li{
  margin-top: 15px;
}
button{
  height: 30px;
  width: 60px;
  background-color: rgb(5, 147, 22);
  color: white;
  font-size: 1rem;
  margin-top: 30px;
  cursor: pointer;
}